.main-app{
  height: 100%;
  width: 100%;
}
.heading{
  display: grid;
  justify-content: center;
}
.allInputs{
  width: 100%;
  display: grid;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}
.inputField{
  height: 30px;
  width:240px;
}

.data{
  display: grid;
  justify-content: center;
}
.data-data{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}